<% layout('layouts/viewtemplates') %> 
    <h1><%= fishground.title %></h1>
    <h2><%= fishground.location %></h2>
    <% if (fishground.image == null) %>
    <% { %>
        <img src='https://source.unsplash.com/collection/2060184' alt="Random">
    <% } %>
   
    <!-- <% if (fishground.image != null) %>
    <% { %>
        <img src="<%=fishground.image%> " alt="Random Pics from unsplash">
    <% } %> -->
    <p><%=fishground.description%> </p>
    <p>
        <form action="/fishground/<%=fishground._id %>?_method=DELETE" method = "POST">
        <button>DELETE</button>
        </form>
    </p>
    <footer>
        <a href="/fishground">Back to all avaliable spots</a>
        <a href="/fishground/<%=fishground._id  %>/edit">Edit locations</a>
    </footer>
